<h1 class="heading">{{name}}</h1>
<h2 class="heading2">Project Details</h2>
<div>
<table *ngIf="rows.length!=0" class="table table-bordered">
  <thead>
    <tr>
      <th>Serial No.</th>
<th *ngFor = "let column of headers">
      {{column}}
</th>
<th>Action</th>
    </tr>
</thead>
<tr *ngFor = "let row of rows let i= index">
  <td >{{i+1}}</td>
    <td *ngFor = "let column of headers">
      {{row[column]}}
    </td>
    <td> <button class="btn btn-success" (click)="onEdit(i)" >Edit<i class="fa fa-trash"></i></button>||<button (click) = "deleteRow(i)">Delete<i class="fa fa-trash"></i></button></td>
</tr>
</table>
<p *ngIf="rows.length==0">You do not have any project. Create your first project by clicking the plus button below</p>
</div>
<br>
<br>
<button id="AddB" class="btn btn-success" (click)="open()">+</button>

  <div *ngIf="add==true" class="container">
    <h2 class="heading2">Add New Project</h2>
    <form #myform="ngForm" (ngSubmit)="onUpdate(myform)" novalidate>
      <div class="form-group">
        <label class= "labels" for="ProjectName">Project Name  </label>
        <input id="Pname"type="text" [(ngModel)]="model.ProjectName" class="form-control" name="ProjectName" required>
      </div>
  
      <div class="form-group">
        <label  class= "labels" for="CustomerName">Customer Name  </label>
        <input id="Cname" type="text" [(ngModel)]="model.CustomerName" class="form-control" name="CustomerName" required>
      </div>

      <div class="form-group">
        <label  class= "labels" for="Location">Location  </label>
        <input id="Loc" type="text" [(ngModel)]="model.Location" class="form-control" name="Location" required>
      </div>
    

      <button id="submitB" type="submit" class="btn btn-success">Submit</button>
      <button id="cancelB" class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
    </form>
     
    <br>
    <br>
</div>
<!-- <div>
{{row[0]}}

</div> -->